* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

.container {
    width: 960px;
    margin: 0 auto;
}
/* TODO: Add css here */
.tab-container {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .tab-header {
    display: flex;
    justify-content: space-between;
  }
  
  .tab-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease;
    flex: 1;
    text-align: center;
    font-size: 1.4rem;
  }
  
  .tab-button.active {
    background-color: #024d6c;
  }
  
  .tab-content {
    margin-top: 0px;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  h2 {
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 2rem;
  }
  
  .tab-content div {
    line-height: 2.2;
    font-size: 1.2rem;
  }

@media only screen and (max-width: 960px) {

    .container {
        width: 100%;
    }
    .tab-button {
        font-size: 1.2rem; /* Slightly smaller for tablet-sized screens */
      }
      .tab-content div {
        font-size: 1rem;
      }
      h2 {
        font-size: 1.4rem;
      }
    .content {
        padding: 50px;
    }
}
@media only screen and (max-width: 600px) {
    .tab-button {
        font-size: 1rem; /* Slightly smaller for tablet-sized screens */
      }
      .tab-content div {
        font-size: 0.8rem;
      }
      h2 {
        font-size: 1.2rem;
      }
}
